<% @posts.each do |posts| %>
  <div class = "index-border">

    <div class ="d-block d-md-flex">
      <div class = "postimage">
      <% posts.post_images.each do |image| %>
          <%= link_to public_post_path(posts.id) do %>
          <%= image_tag image,class: "img-fluid rounded", style: "width: 150px; height: 150px; object-fit: cover;" %>
        <% end %>
      <% end %>
        </div>
      </div>

      <div class = "introduction"><%= safe_join(posts.introduction.split("\n"),tag(:br)) %></div>


  <%= render "public/posts/post.information", posts: posts %>

      </div>

    <% end %>