<% if current_customer %>
  <button class="fixed_btn">
    <%= link_to image_tag("new.png", class: "fixed_image"), new_public_post_path, style: "max-width: 100%; object-fit:cover; " %>
  </button>
  <% else %>
<% end %>