<div class = "messege-border">
  <h4><b> 初めて動物のお迎えをする方へ</b></h4>

  ペットをお迎えすることは、
  <span class = "messege"><b>その命の生涯を預かること</b></span>です。

  <br>
    食事やトイレの世話だけではなく、医療費もかかります。
  <br>
    以下の点を確認してからお話合いをお願い致します。
</div>


<div class ="conditions">
  <b>①住宅がペットを飼える状況にあること</b>
  <br>
  ペット飼育の許諾があるだけでなく、住居のルールを把握し、周囲への配慮を心がけなければなりません。
</div>

<div class ="conditions">
  <b>②動物を迎えることに家族全員の合意があること</b>
  <br>
  全員がお迎えする動物を家族として認識していることが重要です。
  何かトラブルがあった際も、家族として対応をしていきましょう。
</div>

<div class ="conditions">
  <b>③動物アレルギーの心配がないこと</b>
  <br>
  疑いがある場合には検査を受けましょう。動物アレルギーがある場合の対策などはよく考え、話し合い、飼うかどうかを決めましょう。
</div>

<div class ="conditions">
  <b>④その動物の寿命まで飼育する覚悟があること</b>
  <br>
  犬や猫は10年以上、オウムや小型の亀などは20～30年と生きる種類もあります。その期間、毎日の世話、健康管理をしていくことになります。<br>
  それを踏まえてお迎えを考えましょう。
</div>

<div class ="conditions">
  <b>⑤世話をする体力があり、時間をさくことが出来ること</b>
  <br>
  食事や水、運動(散歩等)、飼育環境の掃除、種類によってはブラッシングもあります。<br>
  快適な生活環境を整えるため、手間暇をかけることが出来ることは大変重要です。
</div>

<div class ="conditions">
  <b>⑥高齢になった動物の介護をする心構えがあること</b>
  <br>
  人間と同じように、動物も老いることで動けなくなったり、認知症になるケースがあります。<br>
  世話にかける時間がそれまでの生活よりも増えることは覚悟しておきましょう。
</div>

<div class ="conditions">
  <b>⑦経済的負担を考慮すること</b>
  <br>
  給餌、給水、犬や猫であれば首輪などは勿論のこと、あらゆる飼育用グッズの費用がかかります。<br>
  また、思わぬ怪我や病気などの医療費は高額になる場合もあります。備えるための公的な保険はなく、民間の保険となります。<br>
  経済的な負担は必ずあることをご承知おきください。
</div>

<div class ="conditions">
<b>⑧必要なしつけと周囲への配慮ができること</b>
  <br>
  生活をする上でのルールを覚えて貰う必要があります。しつけをすることで絆を深めることも出来ます。<br>
  しつけの方法を予め調べておくと良いでしょう。<br>
  万一、家庭外での影響を考え問題がありそうだと感じれば、専門のトレーナーなどに相談することを検討しましょう。
</div>

<div class ="conditions">
  <b>⑨引っ越しや転勤の際にも継続飼養する覚悟があること</b>
  <br>
  動物を家族として迎える以上、環境が変化した後も最期まで面倒を見る必要があります。
</div>

<div class ="conditions">
  <b>⑩飼えなくなった場合の受け皿を考えておくこと</b>
  <br>
  不慮の事故や病気などが起きて、どうしても飼育が出来なくなってしまった場合、代わりに飼ってくれる人を見つけておくことも重要です。
</div>

<%= render "public/posts/newpost" %>