@use '~bootstrap/scss/bootstrap';

// ↓バリデーションのレイアウト崩れ防止
.field_with_errors {
  display: contents;
}

/*----------------------------------------TOPページ*/
.slider {
  position: relative;
  margin: 0 0 0 50px;
}

.col-9 {
  margin: 20px auto;
}

.about {
  opacity: 0.8;
  /*↑透明度*/
  box-shadow: 2px 2px 4px gray;
  /*↑影*/
  margin: -50px 0 0 100px ;
  background: #FFFFFF;
  padding: 100px 200px;
  position: absolute
}

.purpose {
  width: 400px;
  margin: 50px;
  margin-top: 170px;
  background: #D7EEFF;
  padding: 50px 20px;
  box-shadow: 2px 2px 4px gray;
  opacity: 0.8;
  z-index: 5;
}
.background {
  height: 200px;
  margin: -200px 0px 0px;
  padding: 150px;
  background: #BAD3FF;
}

p.title {
  padding: 10px;
  width: auto;
  border-left :solid 5px #330066;
  border-bottom: solid 1px #330066;
  text-align:center;

}

/*-------------------------------------投稿固定ボタン*/
.fixed_btn {
  position: fixed;
  bottom: 10px;
  right: 30px;
  padding: 10px 30px;
  border-radius: 90%;
  box-shadow: 2px 2px 4px gray;
}

.fixed_btn:active {
  box-shadow: 0px 0px 0px #a00;
  transform: translateY(3px);
}


/*------------------------------------------マイページ*/

.profile-image {
  width: auto;
  margin: 20px 20px 0 30px;
}

.my-posts {
  border: 2px solid #BAD3FF;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #666699;
  width: 700px;
  padding: 20px;
  margin: 20px auto;
}

.postimage {
  margin: 0 auto;
}

.introduction {
  width: auto;
  padding-left: 10px;
  word-wrap: break-word;
}


/*--------------------------------------------new投稿ページ*/
.post {
  width: auto;
  padding: 15px;
  border-left: 4px solid #008BBB;
  margin-left: 100px;
}

.sheets {
  color: red;
}

/*---------------------------------------show投稿詳細ページ*/

.show-introduction {
  width: auto;
  padding: 10px;
  border-top: 1px solid black;
}

.category-icon {
  margin: 0 0 0 auto;
}

.clock {
  margin: 0 10px;
}

.trash {
  margin: 0 10px;
}

.post-show {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  width:  auto;
  margin: 0 0 0 auto;
}

.comment-form {
  width: auto;
  margin: 20px 0 0 10px;
}

.comment{
  width: auto;
  height: auto;
  margin: 0 15px 20px;
}

/*---------------------------------------------------一覧部分*/



.index-border {
  width: 700px;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #BAD3FF;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #666699;
  z-index: 1000;
}

.index-customer-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.index-post-image {
  object-fit: cover;
  width: auto;
  margin: 0 auto;
}

.index-introduction {
  width: 550px;
  padding-left: 20px;
  word-wrap: break-word;
}

.index-time {
  padding: 10px 10px 0 10px;
}

.index-bkm-btn {
  padding: 10px 10px 0 10px;
}

.index-category {
  padding: 10px 10px 0 10px;
}

/*-----------------------------------------------------------notesページ*/
.messege {
  color: #993333;
  text-decoration: underline;
}

.messege-border {
  width: auto;
  border-left: 3px solid black;
  margin: 30px;
  padding: 10px;
}

.conditions {
  margin: 30px;
}

/*-----------------------------------------------------------ブックマークの部分テンプレ*/
.count-color {
  color: orange;
}

/*----------------------------------------------------------投稿プレビュー*/
.preview-size {
  height: auto;
  width: 250px;
  margin: 30px 0 0 50px;
}

/*-----------------------------------------------------上部へのスクロールボタン*/
#back {
  position: fixed;
  bottom: 20px;
  margin: 0 0 0 20px;
}
.arrow{
  width:      50px;
  height:     50px;
}

/*-------------------------------------------------検索画面*/

/*customer*/
.search-user-info {
  width: auto;
  padding-left: 20px;
}


/*--------------------------------------------ヘッダー*/
header {
  width: auto;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  /*↑　位置を固定*/
  top: 0;
  background: #F0F8FF;
  box-sizing: border-box;
  border-bottom: 1px solid;
  z-index: 10000;
}


.link {
  margin-left: 15px;
  padding: 10px;
  width: 200px;
  color: 	#FF82B2;
}

.link:active {
  box-shadow: 0px 0px 0px #a00;
  transform: translateY(10px);
}

.link:hover {
  margin-top: 3px;
  // color: #fff;
  padding: 10px;
  background:  #FFCCCC;
  border-bottom: 2px solid #b84c00;
  border-radius: 50px;
}

.search-icon {
  width: 30px;
  height: auto;
  /*margin-bottom: 8px;*/
}

.search_form-space {
  height: 20px;
}



/*------------------------------------------------レスポンシブ*/

@media screen and (max-width: 425px) {

header {
  width: 425px;
}
.fixed_btn {
  bottom: 30px;
  right: 0 0 0 auto;
}

.fixed_btn:active {
  box-shadow: 0px 0px 0px #a00;
  transform: translateY(3px);
}

// ------------Topページ

.purpose {
  width: 400px;
  margin: 10px;
  margin-top: 170px;
  background: #D7EEFF;
  padding: 50px 10px;
  box-shadow: 2px 2px 4px gray;
  opacity: 0.8;
  z-index: 5;
}

.about {
  opacity: 0.8;
  /*↑透明度*/
  box-shadow: 2px 2px 4px gray;
  /*↑影*/
  margin: -50px 0 0 20px ;
  background: #FFFFFF;
  padding: 20px 50px;
  position: absolute
}

/*---------------------一覧*/

.index-border{
  width: 410px;
}

.index-flex {
  width: 400px;
}

.index-flex2 {
  width: 200;
}

.index-post-image {
  width: 200px;
  margin: 0 auto;
}

.index-introduction {
  width: 280px;
  padding-left: 20px;
}

.index-br::before {
  content: "\A";
  white-space: pre;
  height: 50px;
}

.index-bkm-btn{
  width: 100px;
  height: 20px;
}

.index-category {
  width: 120px;
  height: 20px;
}

.index-clock{
  width: 150px;
  height: 20px;
}

// -------------------------------------詳細ページ

.comment {
  width: 200px;
}


/*--------------------------------マイページ*/
.show-image {
  width: 50px;
}

.show-table {
  width: 350px;
}

// -------------------------投稿ページ
.post {
  width: 410px;
  padding: 14px;
  border-left: 3px solid #008BBB;
  margin-left: 15px;
}

}