@use '~bootstrap/scss/bootstrap';

// ↓バリデーションのレイアウト崩れ防止
.field_with_errors {
  display: contents;
}

// ↓リンクの下線消し
a:hover {
  text-decoration: none;
}

/*----------------------------------------TOPページ*/
.slider {
  position: relative;
}

.col-9 {
  margin: 20px auto;
}

.about {
  opacity: 0.8;
  /*↑透明度*/
  box-shadow: 2px 2px 4px gray;
  /*↑影*/
  margin: -50px 0 0 100px ;
  background: #FFFFFF;
  padding: 100px 200px;
  position: absolute
}

.purpose {
  width: 400px;
  margin: 50px;
  margin-top: 170px;
  background: #D7EEFF;
  padding: 50px 20px;
  box-shadow: 2px 2px 4px gray;
  opacity: 0.8;
  z-index: 5;
}
.background {
  height: 200px;
  margin: -200px 0px 0px;
  padding: 150px;
  background: #BAD3FF;
}

p.title {
  padding: 10px;
  width: auto;
  border-left :solid 5px #330066;
  border-bottom: solid 1px #330066;
  text-align:center;
}


/*-------------------------------------投稿固定ボタン*/
.fixed_btn {
  width: 150px;
  height: 120px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  border-radius: 90%;
  box-shadow: 2px 2px 4px gray;
}

.fixed_image {
  width: 90px;
  height: 80px;
}

.fixed_btn:active {
  box-shadow: 0px 0px 0px #a00;
  transform: translateY(3px);
}


/*------------------------------------------マイページ*/

.profile-image {
  width: auto;
  margin: 20px 20px 0 80px;
}

.profile {
  width: 700px;
  margin: 80px 80px 0 50px;
  border: 2px solid #BAD3FF;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #666699;
  padding: 15px;
}

.customer-profile {
  width: 700px;
  border-top: 4px dotted #BAD3FF;
  padding: 10px;
  word-wrap: break-word;
}

.profile-information {
  width: auto;
  margin: 0 20px;

}

.my-posts {
  border: 2px solid #BAD3FF;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #666699;
  width: 700px;
  padding: 20px;
  margin: 20px auto;
}

.postimage {
  margin: 0 auto;
}

.introduction {
  width: auto;
  padding-left: 10px;
  word-wrap: break-word;
}

.edit-link {
  width: auto;
  margin-top: 15px;
}





/*--------------------------------------------new投稿ページ*/
.vertical-line {
  width: auto;
  padding: 15px;
  border-left: 4px solid #008BBB;
  margin-left: 100px;
}

.sheets {
  color: red;
}

/*---------------------------------------show投稿詳細ページ*/

.show-introduction {
  width: auto;
  padding: 10px;
}

.show-box {
  width: 1000px;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #BAD3FF;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #666699;
}

.clock {
  margin: 0 10px;
}

.trash {
  margin: 0 10px;
}

.post-show {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  width:  auto;
  margin: 50px 0 0 20px;
}

.comment{
  width: auto;
  height: auto;
  margin: 10px 15px 0 15px;
}

.comment_form {
  width: 100%;
}

.time {
  width: auto;
  text-align: right;
}

.trash {
  width: auto;
  margin-left: 15px;
}

/*---------------------------------------------------一覧部分*/



.index-box {
  width: 700px;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #BAD3FF;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #666699;
  z-index: 1000;
}

.index-customer-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.index-post-image {
  object-fit: cover;
  width: auto;
  margin: 0 auto;
}

.index-introduction {
  width: 550px;
  padding-left: 20px;
  word-wrap: break-word;
}

.index-time {
  padding: 10px 10px 0 10px;
}

.index-bkm-btn {
  padding: 10px 10px 0 10px;
}

.index-category {
  padding: 10px 10px 0 10px;
}

.index-trash {
 padding: 10px 10px 0 10px;
}


/*-----------------------------------------------------------notesページ*/
.messege {
  color: #993333;
  text-decoration: underline;
}

.messege-border {
  width: auto;
  border-left: 3px solid #008BBB;
  margin: 30px;
  padding: 10px;
}

.conditions {
  margin: 30px;
}

/*-----------------------------------------------------------ブックマークの部分テンプレ*/
.count-color {
  color: orange;
}

/*-----------------------------------------------------上部へのスクロールボタン*/
#back {
  position: fixed;
  bottom: 20px;
  margin: 0 0 0 20px;
}
.arrow{
  width:      50px;
  height:     50px;
}

/*-------------------------------------------------検索画面*/

/*customer*/

.search-user-info {
  width: 500px;
  padding-left: 20px;
  word-wrap: break-word;
}

.customer-area {
  width: auto;
  margin-left: 20px;
}

.customer-profile {
  width: auto;
  margin-top: 20px;
}


/*--------------------------------------------ヘッダー*/
header {
  width: auto;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  /*↑　位置を固定*/
  top: 0;
  background: #F0F8FF;
  box-sizing: border-box;
  border-bottom: 1px solid;
  z-index: 10000;
}

.link {
  margin-left: 15px;
  padding: 10px;
  width: 200px;
  color: 	#FF82B2;
}

.link:active {
  box-shadow: 0px 0px 0px #a00;
  transform: translateY(10px);
}

.link:hover {
  margin-top: 3px;
  padding: 10px;
  background:  #FFCCCC;
  border-bottom: 2px solid #b84c00;
  border-radius: 50px;
}

#back {
  bottom: 40px;
}

// -------------検索

.search-icon {
  width: 30px;
  height: auto;
}

.search_form-space {
  height: 20px;
}

// ------------管理者

.admin-box {
  width: 1000px;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #BAD3FF;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #666699;
}

.admin-information {
  width: auto;
  margin: 0 0 0 20px;
}

.admin-space {
  width: auto;
  margin: 0 20px;
}

.admin-profile {
  width: 950px;
  margin: 0 auto;
  word-wrap: break-word;
}

/*----------------------------------------------------------投稿プレビュー*/

.image-list {
  display: flex;
}

.preview-size {
  height: auto;
  width: 250px;
  margin: 30px 0 0 50px;
}

// --------------フッター

footer {
  text-align: center;
  width: auto;
  margin-top: 80px;
}

// -----------新規登録ページ

.signup-form {
  width: 80%;
}

/*------------------------------------------------レスポンシブ*/

@media screen and (max-width: 391px) {


// ↓縦並び
.image-list {
  flex-direction: column;
}

header {
  width: 100%;
}

.link {
  margin-left: 0px;
  padding: 0px;
  width: 200px;
  color: 	#FF82B2;
}

.link:active {
  box-shadow: 0px 0px 0px #a00;
  transform: translateY(10px);
}

.link:hover {
  margin-top: 3px;
  // color: #fff;
  padding: 0px;
  background:  #FFCCCC;
//  border-bottom: 2px solid #b84c00;
  border-radius: 50px;
}

// 固定ボタン

.fixed_btn {
  position: fixed;
  width: 100px;
  height: 90px;
  bottom: 40px;
}

.fixed_image {
  width: 70px;
  height: 60px;
}

.fixed_btn:active {
  box-shadow: 0px 0px 0px #a00;
  transform: translateY(3px);
}


// ------------Topページ

.slider {
  margin: 0;
}

.purpose {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  background: #D7EEFF;
  padding: 40px 10px;
  box-shadow: 2px 2px 4px gray;
  opacity: 0.8;
  z-index: 5;
}

.about {
  width: 90%;
  opacity: 0.8;
  /*↑透明度*/
  box-shadow: 2px 2px 4px gray;
  /*↑影*/
  margin: -20px 0 0 0;
  background: #FFFFFF;
  padding: 25px 15px;
  position: absolute
}

.background {
  width: 100%;
}

/*---------------------一覧*/

.index-box{
  width: 96%;
  padding: 20px 10px;
}

.index-post-image {
  width: 200px;
  margin: 0 auto;
}

.index-introduction {
  width: 310px;
  padding-left: 10px;
}

.index-bkm-btn{
  width: auto;
  height: 20px;
  padding: 0 10px 0 7px;
}

.index-category {
  width: auto;
  height: 20px;
  padding: 0 10px 0 0;
}

.index-time{
  width: auto;
  height: 20px;
  padding: 0 10px 0 0;
}

.index-trash {
  width: auto;
  padding: 0 0 0 7px;
}

// -------------------------------------詳細ページ

.show-box {
  width: 96%;
  padding: 8px;
}

.post-show {
  margin: 30px 0 0 20px;
}

.show-introduction {
  padding: 5px;
}

.comment {
  width: 200px;
}

.comment_form {
  width: 100%;
  margin: 0;
}


/*--------------------------------マイページ*/

.profile-image {
  width: auto;
  margin: 20px 10px 0 10px;
}

.profile {
  width: 96%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
}

.cusotmer-profile {
  width: 100%;
}



// -------------------------投稿ページ
.vertical-line {
  width: 100%;
  padding: 14px 0 14px 14px;
  border-left: 3px solid #008BBB;
  margin-left: 8px;
}

// ------------notes ページ
.messege-border {
  margin: 20px 0 20px 10px;
}

.conditions {
  margin: 20px 0 20px 10px;
}

// --------新規登録

.signup-form {
  width: 80%;
}

}